.header {
    background-color: #b3e4ff;

    &__slide-menu {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transform: translate(-100%, 0);
    }
}