.place-item {
    background-color: #fff;
    border: 1px solid #666;
    color: #555;
    z-index: 1;
    position: relative;
    padding: 15px;
    margin: 15px 0;
    border-radius: 4px;
    transition: all .35s ease-in;
    position: relative;

    &.open {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        z-index: 11;
        border: none;
        padding: 0;

        &:hover {
            transform: none;
        }
    }

    &:hover {
        transform: scale(1.05);
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 15px;
        width: 12px;
        height: 12px;
        transform: rotate(45deg) translate(-50%, 0);
        border: 2px solid #000;
        border-bottom: none;
        border-left: none;
    }

    &__name {
        font-weight: 100;
        color: #555;
    }
}
